@import '~@angular/material/theming';
@import "assets/styles/reset";
@import "assets/styles/themes/components-theme";
@import 'assets/styles/const';

@include mat-core();
@include angular-material-theme($theme);
@include components-theme($theme);



* {

  // scrollbar
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: mat-color($primary, default, .2);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background-color: mat-color($primary, default, .5);
    }
    border-radius: 10px;
    background-color: mat-color($primary, default, .3);
  }
}
